@model IEnumerable<MVC5_EF6_SP_3_tier_.Enitiies.user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.access_level)
        </th>
        <th></th>
    </tr>

    @{
        string[] access = { "none", "Admin", "Employee", "Customer" };
    }
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @access[Convert.ToInt32(item.access_level)]
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.u_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.u_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.u_id })
            </td>
        </tr>
    }

</table>
